/*我的资源-我的上传-添加教材页面*/

.container {
    width: 1220px;
    margin: 0 auto;
}

.title {
    line-height: 78px;
    float: left;
    width: 100%;
    height: 87px;
    color: #333;
}

.title span {
    float: left;
}

.title > span:nth-of-type(1) {
    padding-right: 20px;
    background: url(../images/angle-right.jpg) no-repeat right center;
    background-size: 9px 15px;
}

.title > span:nth-of-type(2) {
    padding-left: 20px;
    background: url(../images/angle-right.jpg) no-repeat left center;
    background-size: 9px 15px;
}

.title .add {
    color: #999;
}

.linksbox {
    position: relative;
    z-index: 3;
    float: left;
    width: 112px;
    height: 36px;
    margin: 22px 10px 0 10px;
    margin-top: 22px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    background: url(../images/down1.png) no-repeat 85px 11px;
    background-size: 15px;
}

.linksbox span {
    line-height: 36px;
    display: block;
    width: 112px;
    height: 36px;
    text-indent: 11px;
    color: #999;
}

.linksbox2 {
    height: 110px;
    background-image: url(../images/up1.png);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.linksbox2 span {
    color: #333;
}

.linksbox .links {
    position: absolute;
    top: 36px;
    display: none;
    border-top: none;
    background: #fff;
}

.links a {
    line-height: 36px;
    display: block;
    width: 110px;
    height: 36px;
    text-indent: 11px;
    color: #333;
}

.links a:hover {
    color: #f34c00;
    background: #f7f7f7;
}

.tab {
    clear: both;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    background: #f5f5f5;
}

.tab p {
    font-size: 18px;
    line-height: 38px;
    width: 139px;
    height: 38px;
    margin-top: -1px;
    text-align: center;
    color: #6d6d6d;
    color: #f34c00;
    border-top: 2px solid #f34c00;
    border-right: 1px solid #ddd;
    background: #fff;
}

.subscribe {
    width: 100%;
    height: 752px;
    padding-top: 40px;
}

.subscribe .option {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.subscribe .option span {
    display: block;
    float: left;
    width: 140px;
    text-align: right;
}


/*css部分*/

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    display: inline-block;
    height: 40px;
    margin-left: 20px;
    padding-left: 27px;
    cursor: pointer;
    background: url(../images/nochecked.jpg) no-repeat left center;
    background-size: 19px;
}

input[type=radio]:checked + label {
    background-image: url(../images/checked.jpg);
}

.square input[type=radio] + label {
    background-image: url(../images/nochecked-square.jpg);
}

.square input[type=radio]:checked + label {
    background-image: url(../images/checked-square.jpg);
}

.subscribe .option input[type=text] {
    font-size: 14px;
    width: 245px;
    height: 26px;
    margin-left: 20px;
    padding-left: 10px;
    border: 1px solid #979797;
}

.subscribe .confirm {
    font-size: 14px;
    width: 130px;
    height: 38px;
    margin-top: 10px;
    margin-left: 160px;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background: #f34c00;
}

.subscribe .cancel {
    width: 130px;
    height: 38px;
    margin-top: 10px;
    margin-left: 20px;
    color: #666;
    border-radius: 2px;
    background: #e7e7e7;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 980px;
    }
}
