/*我的订阅页面css*/

.container {
    width: 1220px;
    margin: 0 auto;
}


/*标题*/

.title {
    line-height: 78px;
    width: 100%;
    height: 87px;
    color: #333;
}

.title span {
    margin-left: 12px;
    color: #999;
}


/*订阅内容和新建订阅*/

.tab {
    clear: both;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    background: #f5f5f5;
}

.tab p,
.tab .link {
    font-size: 18px;
    line-height: 38px;
    float: left;
    width: 139px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    color: #6d6d6d;
    border-right: 1px solid #ddd;
}

.tab .link {
    font-size: 16px;
    display: block;
    text-indent: 56px;
    border-right: none;
    background: url(../images/new-subscription.jpg) no-repeat 26px center;
    background-size: 22px;
}

.tab .active {
    margin-top: -1px;
    color: #f34c00;
    border-top: 2px solid #f34c00;
    background: #fff;
}

.tabbox {
    width: 1220px;
    margin: 0 auto;
}


/*订阅内容主体*/

.textbook {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
    border-bottom: 1px solid #ddd;
}

.textbook li {
    position: relative;
    float: left;
    width: 186px;
    height: 320px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 15px 18px 0;
    cursor: pointer;
}

.textbook li:hover {
    padding: 14px 17px 0;
    border: 1px solid #ddd;
}

.textbook li:nth-child(6n) {
    margin-right: 0;
}

.textbook li img {
    width: 150px;
    height: 214px;
    margin-bottom: 15px;
}


/*鼠标划入订阅内容，出现编辑选项*/

.textbook li .modify {
    position: absolute;
    top: 194px;
    left: 17px;
    display: none;
    width: 150px;
    height: 35px;
    background: rgba(0, 0, 0, .8);
}

.textbook li:hover .modify {
    display: block;
}

.textbook li .modify .delete,
.textbook li .modify .edit {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 13px;
    background: url(../images/delete.jpg) no-repeat;
    background-size: 20px;
}

.textbook li .modify .edit {
    margin-right: 10px;
    background-image: url(../images/edit.jpg);
}

.textbook li p {
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

.textbook li .diff {
    margin-top: 8px;
    color: #999;
}

.textbook li .diff span {
    color: #6dcad2;
}


/*加载更多教材*/

.loadmore {
    font-size: 12px;
    line-height: 24px;
    width: 182px;
    height: 24px;
    margin: 0 auto 37px;
    cursor: pointer;
    text-align: center;
    color: #999;
    border: 1px solid #ddd;
}


/*新建订阅页面不同部分css*/

.subscribe {
    width: 100%;
    height: 752px;
    padding-top: 40px;
}

.subscribe .option {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.subscribe .option span {
    display: block;
    float: left;
    width: 140px;
    text-align: right;
}


/*css部分*/

input[type=radio] {
    display: none;
}

input[type=radio] + label {
    display: inline-block;
    height: 40px;
    margin-left: 20px;
    padding-left: 27px;
    cursor: pointer;
    background: url(../images/nochecked.jpg) no-repeat left center;
    background-size: 19px;
}

input[type=radio]:checked + label {
    background-image: url(../images/checked.jpg);
}

.square input[type=radio] + label {
    background-image: url(../images/nochecked-square.jpg);
}

.square input[type=radio]:checked + label {
    background-image: url(../images/checked-square.jpg);
}

.subscribe .option input[type=text] {
    font-size: 14px;
    width: 245px;
    height: 26px;
    margin-left: 20px;
    padding-left: 10px;
    border: 1px solid #979797;
}

.subscribe .confirm {
    font-size: 14px;
    width: 130px;
    height: 38px;
    margin-top: 10px;
    margin-left: 160px;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    background: #f34c00;
}

.subscribe .cancel {
    width: 130px;
    height: 38px;
    margin-top: 10px;
    margin-left: 20px;
    color: #666;
    border-radius: 2px;
    background: #e7e7e7;
}


/*我的上传页面css*/

.title2 {
    line-height: 78px;
    float: left;
    width: 100%;
    height: 87px;
    color: #333;
}

.title2 > span:nth-of-type(1) {
    padding-right: 20px;
    background: url(../images/angle-right.jpg) no-repeat right center;
    background-size: 9px 15px;
}

.title2 span {
    float: left;
}

.linksbox {
    position: relative;
    z-index: 3;
    float: left;
    width: 112px;
    height: 36px;
    margin-top: 22px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    background: url(../images/down1.png) no-repeat 85px 11px;
    background-size: 15px;
}

.linksbox2 {
    height: 110px;
    background-image: url(../images/up1.png);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.linksbox span {
    line-height: 36px;
    display: block;
    width: 112px;
    height: 36px;
    text-indent: 11px;
    color: #999;
}

.linksbox2 span {
    color: #333;
}

.linksbox .links {
    position: absolute;
    top: 36px;
    display: none;
    border-top: none;
    background: #fff;
}

.links a {
    line-height: 36px;
    display: block;
    width: 110px;
    height: 36px;
    text-indent: 11px;
    color: #333;
}

.links a:hover {
    color: #f34c00;
    background: #f4f4f4;
}

@media screen and (max-width: 1024px) {
    .container,
    .tab,
    .tabbox {
        width: 980px;
    }
    .textbook li {
        margin-right: 12px;
    }
    .textbook li:nth-child(6n) {
        margin-right: 12px;
    }
    .textbook li:nth-child(5n) {
        margin-right: 0;
    }
}
