.container {
    width: 1220px;
    margin: 0 auto;
}

.cs-top {
    font-size: 14px;
    line-height: 68px;
    height: 68px;
    color: #333;
    border-bottom: 1px solid #f3f3f3;
}


/*课程表*/

.timetable {
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    color: #333;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}


/*课程表标题*/

.timetable caption {
    font-size: 16px;
    line-height: 56px;
    position: relative;
    width: 100%;
    height: 57px;
    color: #36b991;
}

.last-week,
.next-week {
    position: absolute;
    top: 0;
    display: block;
    width: 80px;
    height: 57px;
    color: #999;
}

.last-week {
    left: 0;
}

.next-week {
    right: 0;
}

.last-week .icon-left,
.next-week .icon-right {
    display: block;
    width: 10px;
    height: 100%;
}

.last-week .icon-left {
    float: left;
    background: url(../images/icon-left.png) no-repeat center;
}

.next-week .icon-right {
    float: right;
    background: url(../images/icon-right.png) no-repeat center;
}

.timetable caption .active {
    color: #36b991;
}

.timetable caption .active .icon-left {
    background: url(../images/icon-left-active.png) no-repeat center;
}

.timetable caption .active .icon-right {
    background: url(../images/icon-right-active.png) no-repeat center;
}


/*课程表主体*/

.timetable tbody {
    border: none;
}

.timetable tr {
    width: 100%;
    border-color: #ebeaea;
}

.timetable td {
    text-align: center;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}


/*灰色部分*/

.timetable .hui {
    background: #f7f7f7!important;
}

.timetable .number {
    width: 5.8%;
}

.timetable .time-slot {
    width: 12.6%;
}

.timetable .tr1 td:last-child {
    height: 56px;
}

.timetable .tr1 td {
    width: 15.2%;
}


/*左上角*/

.timetable .tr1 .top-left {
    position: relative;
    width: 24%;
    background: url(../images/slash.png) no-repeat;
    background-size: 100% 98%;
}


/*时间*/

.top-left .tl-time {
    position: absolute;
    top: 26px;
    left: 34px;
}


/*星期*/

.top-left .tl-week {
    position: absolute;
    top: 12px;
    right: 42px;
}

.timetable .am {
    width: 5.6%;
}

.timetable tr td:last-child {
    height: 100px;
}


/*高度短一些的表格*/

.timetable .short td:last-child {
    height: 60px;
}

.timetable tr:nth-child(2n+1) {
    background: #fdfdfd;
}

.timetable td p {
    line-height: 24px;
}

.timetable td .subject {
    height: 61px;
    padding-top: 9px;
}

.timetable td .subject span {
    display: block;
}


/*课堂种类*/

.timetable td .class-type {
    line-height: 38px;
    width: 100%;
    height: 38px;
    color: #fff;
    background: #d4a4a4;
}

.timetable td .blue {
    background: #6fb3e0;
}


/*重置密码页面css*/

.wrapper {
    overflow: hidden;
    width: 100%;
    height: 562px;
    background: #c5e6f3;
}

.reset-center {
    width: 1220px;
    height: 515px;
    margin: 22px auto 0;
    background: #daeff7;
}


/*重置密码说明*/

.rc-title {
    font-size: 18px;
    line-height: 56px;
    height: 56px;
    margin-bottom: 70px;
    text-indent: 38px;
    color: #999;
    border-bottom: 1px solid #fff;
    background: #e8f5fa;
}

.inputbox {
    width: 100%;
    height: 36px;
    margin-bottom: 13px;
}

.no-marginbottom {
    margin-bottom: 0;
}


/*输入框左侧说明文字*/

.inputbox span {
    line-height: 36px;
    display: block;
    float: left;
    width: 42%;
    text-align: right;
}

.inputbox input[type=text] {
    float: left;
    width: 220px;
    height: 36px;
    padding-left: 12px;
    border: 1px solid #ccc;
    background: #fff;
}


/*填写验证码输入框*/

.reset-center .inputbox .code {
    width: 101px;
}


/*获取验证码按钮*/

.inputbox .get-code {
    font-size: 12px;
    width: 106px;
    height: 35px;
    margin-left: 13px;
    color: #fff;
    border-radius: 2px;
    background-color: rgb( 255, 129, 64);
}


/*立即保存按钮*/

.save-password {
    font-size: 12px;
    display: block;
    width: 220px;
    height: 38px;
    margin-top: 17px;
    margin-left: 42%;
    color: #fff;
    border-radius: 2px;
    background: #ff8140;
}

@media screen and (max-width: 1024px) {
    .container,
    .reset-center {
        width: 980px;
    }
}
