/*联合体教学进入页*/

.container {
    width: 980px;
    margin: 0 auto;
}

.navul li:nth-child(4) a {
    color: #f25719;
}


/*内容区头部*/

.cs-top,
.student-top {
    font-size: 14px;
    line-height: 68px;
    height: 68px;
    color: #333;
    border-bottom: 1px solid #f3f3f3;
}

.student-top {
    border-bottom: none;
}

.schoolinfo {
    overflow: hidden;
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #f3f3f3;
}


/*左侧图片*/

.schoolinfo img {
    float: left;
    width: 290px;
    height: 225px;
}

.info-right {
    position: relative;
    float: left;
    width: 620px;
    margin-left: 27px;
}

.info-right p:nth-of-type(1) {
    font-size: 18px;
    line-height: 36px;
    margin-top: 18px;
}

.info-right .expanded2 {
    font-size: 14px;
    line-height: 32px;
    overflow: hidden;
    height: 160px;
}

.expand {
    position: absolute;
    right: 12px;
    bottom: -20px;
    display: block;
    width: 18px;
    height: 15px;
    background: url(../images/down1.png) no-repeat;
    background-size: 18px 15px;
}

.expand:hover {
    background-image: url(../images/down-hover.png);
}

.withdraw {
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    right: 5px;
    bottom: -20px;
    display: block;
    display: none;
    width: 62px;
    height: 20px;
    text-align: center;
    color: #36b991;
    border: 1px solid #36b991;
    border-radius: 4px;
}

.main {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 46px;
    padding-bottom: 13px;
    border: 1px solid #e7e7e7;
}

.main2 {
    margin-top: 0;
    border-top: none;
}

.tabwrapper {
    overflow: hidden;
    width: 100%;
    height: 78px;
    border-bottom: 1px solid #e7e7e7;
}

.tab {
    width: 256px;
    height: 38px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 19px;
    background: #f8f8f8;
}

.tab span {
    line-height: 38px;
    display: block;
    float: left;
    width: 128px;
    text-align: center;
    color: #333;
    border-radius: 19px;
}

.tab .active {
    color: #fff;
    background: #36b991;
}

.teacher .list {
    overflow: hidden;
    width: 934px;
    margin: 0 auto;
    padding: 34px 0 26px;
    border-bottom: 1px solid #e7e7e7;
}

.teacher .list:last-child {
    border: none;
}

.list img {
    float: left;
    width: 220px;
    height: 148px;
}

.list-right {
    position: relative;
    float: left;
    width: 670px;
    margin-left: 30px;
}

.list-right p {
    font-size: 14px;
    line-height: 30px;
}

.list-right p span {
    font-weight: 600;
}

.list-right .information span:nth-of-type(2) {
    margin-left: 46px;
}

.list-right .information span:nth-of-type(3) {
    margin-left: 46px;
}

.list-right .expanded {
    overflow: hidden;
    height: 90px;
}


/*联合体学生*/

.student-list {
    width: 100%;
    margin-bottom: 34px;
}

.student-list li {
    width: 100%;
    height: 60px;
    margin-bottom: 3px;
}

.student-list li span {
    font-size: 14px;
    line-height: 60px;
    display: block;
    float: left;
    height: 100%;
    margin-right: 1px;
    text-align: center;
}

.student-list li span:nth-child(1) {
    width: 38%;
    background: #e8e6e6;
}

.student-list li span:nth-child(2) {
    width: 37.5%;
    background: #f2f2f2;
}

.student-list li span:nth-child(3) {
    width: 14%;
    background: #bcd8db;
}

.student-list li span:nth-child(4) {
    width: 10%;
    margin-right: 0;
    background: #ebf7f8;
}

.container .student-list .sl-top span {
    color: #333;
    background: #c3e6ea;
}


/*联合体风采进入页*/

.text-top {
    width: 100%;
    height: 189px;
    border-bottom: 1px solid #efefef;
}

.ttp1 {
    font-size: 14px;
    line-height: 72px;
    height: 72px;
    color: #333;
    border-bottom: 1px solid #efefef;
}

.ttp2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 14px;
    color: #333;
}

.ttp3 {
    font-size: 16px;
}


/* 上一篇，下一篇 */

.text-bottom {
    margin-top: 10px;
    margin-bottom: 40px;
}

.text-bottom a {
    font-size: 14px;
    line-height: 30px;
    display: block;
    color: #333;
}

.text-bottom a:hover {
    color: #f25719;
}

.text {
    padding-top: 30px;
}

.text img {
    float: left;
    width: 450px;
    height: 300px;
    padding-right: 40px;
}

.text p {
    font-size: 14px;
    line-height: 36px;
    text-indent: 2em;
}


/*分校简介不同部分*/

.campus {
    font-size: 28px;
    line-height: 115px;
    height: 86px;
    text-align: center;
    color: #333;
}

.profile {
    padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1220px;
    }
    .info-right {
        width: 860px;
    }
    .teacher .list {
        width: 1170px;
    }
    .list-right {
        width: 920px;
    }
}
